In [1]:
# Jupyter notebook to analyze datasets to be used for machine learning training of models, and model scoring

# import Pandas library to manipulate and analyze datasets
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',None)

In [4]:
# load datasets from Coder Enterprise persistent volume for data scientist
#df = pd.read_csv('./sets/customer_churn_train.csv',sep=",", encoding = "utf-8", low_memory=False)
#df = pd.read_csv('./sets/customer_churn_test.csv',sep=",", encoding = "utf-8", low_memory=False)
df = pd.read_csv('./sets/cancer_train.csv',sep=",", encoding = "utf-8", low_memory=False)
#df = pd.read_csv('./sets/market_train.csv',sep=",", encoding = "utf-8", low_memory=False)
#df = pd.read_csv('./sets/patient_re_admit_train.csv',sep=",", encoding = "utf-8", low_memory=False)
#df = pd.read_csv('./sets/boston_housing_train.csv',sep=",", encoding = "utf-8", low_memory=False)
#df = pd.read_csv('./sets/ltv_train.csv',sep=",", encoding = "utf-8", low_memory=False)
#df = pd.read_csv('./sets/retention_train.csv',sep=",", encoding = "utf-8", low_memory=False)
#df = pd.read_csv('./sets/loan_default_dr_train.csv',sep=",", encoding = "utf-8", low_memory=False)
#df = pd.read_csv('./sets/pdm_machine_train.csv',sep=",", encoding = "utf-8", low_memory=False)

In [5]:
# how many rows
df.shape

(7414, 23)

In [6]:
# list out the columns
list(df)

['custAge',
 'profession',
 'marital',
 'schooling',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed',
 'pmonths',
 'pastEmail',
 'responded',
 'responded_score']

In [7]:
# show first few rows
df.head(10)

,custAge,profession,marital,schooling,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,pmonths,pastEmail,responded,responded_score
0,55.0,admin.,single,university.degree,unknown,no,no,cellular,nov,mon,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,999.0,0,no,5585
1,NaN,blue-collar,married,NaN,no,no,no,cellular,jul,mon,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,999.0,0,no,6716
2,42.0,technician,married,high.school,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,999.0,0,no,5511
3,55.0,management,divorced,NaN,unknown,yes,yes,cellular,jul,wed,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,999.0,0,no,499
4,NaN,admin.,divorced,university.degree,no,yes,no,cellular,may,tue,5,999,1,failure,-1.8,92.893,-46.2,1.291,5099.1,999.0,1,no,286
5,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,may,fri,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,999.0,0,no,6458
6,35.0,services,single,NaN,no,yes,no,telephone,may,tue,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,999.0,0,yes,7649
7,NaN,services,married,high.school,no,yes,no,telephone,may,wed,2,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,999.0,0,no,1306
8,28.0,unemployed,married,basic.9y,no,yes,no,cellular,may,fri,1,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,999.0,0,no,4835
9,46.0,blue-collar,married,basic.9y,no,yes,no,cellular,nov,mon,2,999,1,failure,-0.1,93.200,-42.0,4.191,5195.8,999.0,0,no,4773

In [8]:
# How many instances 
df['profession'].value_counts()

admin.           1885
blue-collar      1665
technician       1212
services          719
management        536
retired           307
entrepreneur      275
self-employed     248
housemaid         187
unemployed        173
student           146
unknown            61
Name: profession, dtype: int64

In [12]:
# How many instances 
df['willDefault'].value_counts()

No     31687
Yes    13794
Name: willDefault, dtype: int64

In [16]:
# How many instances of Churn
df['Churn?'].value_counts()

False.    2562
True.      436
Name: Churn?, dtype: int64

In [19]:
# drop columns not needed for training
df=df.drop(['Area Code','Phone'],axis=1)

In [35]:
# create a random train test ( 20 percent ) split
msk = np.random.rand(len(df)) < 0.20
train = df[~msk]
test = df[msk]

In [36]:
train.shape

(2664, 21)

In [37]:
test.shape

(669, 21)

In [12]:
# merge datasets
df_both = pd.concat([df,df2])

In [13]:
# num of rows
df_both.shape

(101766, 50)

In [14]:
# write dataframe to csv
df_both.to_csv('./sets/patient_re_admit.csv',index=False,sep=',')

In [15]:
df = df_both